{
	"endpoint_address": "{{ ansible_host }}",
	"dns_servers": [
		"{{ WGUI_DNS1 }}",
		"{{ WGUI_DNS2 }}"
	],
	"mtu": "{{ WGUI_MTU }}",
	"persistent_keepalive": "{{ WGUI_PERSISTENT_KEEPALIVE }}",
	"config_file_path": "{{ WGUI_CONFIG_FILE_PATH }}",
	"updated_at": "2022-11-09T00:08:29.845084195Z"
}