{
	"addresses": [
		"{{ WGUI_SERVER_INTERFACE_ADDRESSES }}"
	],
	"listen_port": "{{ WGUI_SERVER_LISTEN_PORT }}",
	"updated_at": "2022-11-08T23:59:18.942133442Z",
	"post_up": "{{ WGUI_SERVER_POST_UP_SCRIPT }}",
	"post_down": "{{ WGUI_SERVER_POST_DOWN_SCRIPT }}"
}